<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:util="http://www.springframework.org/schema/util" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd"> <!-- bean definitions here -->
	  	
		<bean id="alien" class="com.telusko.SpringCoreTelusko.Alien" autowire="byType" >
			<property name="age" value="23"></property>
			
		</bean>
		
		<bean id="com" class="com.telusko.SpringCoreTelusko.Laptop" primary="true">
		</bean>
		
		<bean id="desktop" class="com.telusko.SpringCoreTelusko.Desktop" >
		</bean>

<!-- 
		<bean id="alien" class="com.telusko.SpringCoreTelusko.Alien" >
			<constructor-arg value="12"></constructor-arg>
			<property name ="Laptop" ref="Laptop"></property>
		</bean>
		<bean id="Laptop" class="com.telusko.SpringCoreTelusko.Laptop">
		</bean>
		 -->
		
</beans>